<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Site:</b>
  <%= @topic.site_id %>
</p>

<p>
  <b>Last check time:</b>
  <%= @topic.last_check_time %>
</p>

<p>
	<b>Latest Post</b>
	<% latest_post = @topic.latest_post %>
	<%= link_to latest_post.title, latest_post %>
	updated at <%= latest_post.updated_at.to_s %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
