<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @topic.name %>
</p>

<p>
  <b>Site:</b>
  <%= @topic.site_id %>
</p>

<p>
  <b>Last check time:</b>
  <%= @topic.last_check_time %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
