<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @post.author %>
</p>

<p>
  <b>Topic:</b>
  <%= @post.topic_id %>
</p>

<p>
  <b>Url:</b>
  <%= @post.url %>
</p>

<p>
	<b>Title:</b>
	<%= @post.title %>
</p>

<p>
	<b>Body:</b>
	<%= @post.body %>
</p>	

<p>
	<b>Reply Count:</b>
	<%= @post.reply_count %>
</p>	

<p>
	<b>First seen at</b>
	<%= @post.created_at %>
</p>

<p>
	<b>Last seen at </b>
	<%= @post.updated_at %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
