<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @site.name %>
</p>

<p>
  <b>Domain:</b>
  <%= @site.domain %>
</p>

<p>
  <b>Url:</b>
  <%= @site.url %>
</p>

<p>
  <b>Post XPath:</b>
  <%= @site.post_xpath %>
</p>

<p>
  <b>Title XPath:</b>
  <%= @site.post_title_xpath %>
</p>

<p>
  <b>Author XPath:</b>
  <%= @site.post_author_xpath %>
</p>

<p>
  <b>Body XPath:</b>
  <%= @site.post_body_xpath %>
</p>


<p>
  <b>Reply count XPath:</b>
  <%= @site.post_reply_number_xpath %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
